.text-danger{
    color: white;
    background-color: red;
}

.static{}

footer{
    background-color: gray;
    /* 設定footer的高度 */
    height: 0px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: relative;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
    margin-top: 100px;
}

/* Animation */
.anime-test {
    height: 100px;
    background-color: red;
}


@keyframes show{
    from { 
        height: 0px;
        opacity: 0; 
    }
    to {
        height: 100px;
        opacity: 1;
    }
}

@keyframes hide{
    from { 
        height: 100px;
        opacity: 1; 
    }
    to { 
        height: 0px;
        opacity: 0; 
    }
}

.slide-enter-active {
  animation: show 0.5s;
}

.slide-leave-active {
  animation: hide 0.5s;
}
/*
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}*/